<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/jpg"
      sizes="32x32"
      href="./images/favicon-32x32.jpg"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />

    <title>Agricharvest and Ethereum Staking</title>
  </head>
  <body>
    <header class="header">
      <div class="overlay has-fade"></div>

      <nav class="container container--pall flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
          <img src="/static/images/crop.png" alt="Agricharvest Return and Etherium staking" />
        </a>

        <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <div class="header__links hide-for-mobile">
          <a href="http://127.0.0.1">Home</a><a href="http://127.0.0.1/signup">Invest Now</a><a href="http://127.0.0.1/blog">Blog</a><a href="http://127.0.0.1/farmers">For Farmers</a><a href="http://127.0.0.1/FAQ">FAQs</a>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle">About Us</a>
            <div class="dropdown-content">
                <a href="http://127.0.0.1/team">Our Team</a>
                <a href="http://127.0.0.1/Privacy">Privacy Policy</a>
                <a href="http://127.0.0.1/porfiolio">Porfiolio</a>
            </div>
        </div>
          <a href="http://127.0.0.1/contact">Contact</a>
        </div>

        <a href="http://127.0.0.1/signin" class="button header__cta hide-for-mobile">Sign-in</a>
        <a href="http://127.0.0.1/signup" class="button header__cta hide-for-mobile">Sign-up</a>
      </nav>

      <div class="header__menu has-fade">
        <a href="http://127.0.0.1/">Home</a>
        <a href="http://127.0.0.1/signup">Invest Now</a>
        <a href="http://127.0.0.1/farmers">For Farmers</a>
        <a href="http://127.0.0.1/blog">Blog</a>
        <a href="http://127.0.0.1/FAQ">FAQs</a>
        <a href="#">About Us</a>
        <a href="http://127.0.0.1/contact">Contact</a>
    </div>
    </header>
    <hr class="section-divider">

    <section class="farmer_Subject">
      <div class="farmer_container">
        <div class="farmer_Subject_text container--pall">
          <h2>
            “The entire Harvest Returns team ran a thorough and efficient fundraising process that allowed Precision Livestock to tap into the high level of 
            interest in the agricultural community to provide practical solutions to the livestock industry.”  <p>— Andrew McKenzie, CEO of Precision Livestock Technologies - raised $755,000</p>
          </h2>
        </div>
      </div>
    </section>

    
    <hr class="section-divider">

    <section class="feature_financing">
      <div class="feature__financing container container--pall">
        <div class="feature__finance_intro">
          <h2>Agricultural Financing in an Evolving Globalized Marketplace</h2>
        </div>
        <div class="feature__body">
          <div class="feature__text">
            <p>
              We understand American farmers and ranchers need every cutting edge they can get today in every aspect of business - including finance. Increasingly, they’re competing not just with the farm in the next state and county, but with farms in emerging countries. 
              The agricultural industry, especially producers, must evolve to fit with today’s globalized marketplace. And that’s where we come in to help.
            </p>
          </div>
        </div>
      </div>
    </section>    
    
   <hr class="section-divider">


    <section class="feature_capital">
      <div class="feature__capitals container container--pall">
        <div class="feature__capital_intro">
          <h2>A New Way to Raise Capital for Agriculture</h2>
        </div>
    
        <div class="feature__body">
          <div class="feature__text">
            <p>
              Farmers, ranchers, and agribusinesses often need capital to expand their operations or acquire new land.
              Most farmers automatically seek ag credit lenders for capital, because it’s what we all know as a traditional funding source. But there are other ways besides bank loans to receive the needed capital. 
              The use of equity partners in crowdfunding is an alternate way to finance land acquisition.
            </p>
          </div>
          <div class="image2">
            <img src="images/soil.jpeg" alt="Description of the image">
          </div>
        </div>
        <div class="farmers_text">
          <p>
            <h3>For more information on how Harvest Returns’ 
            platform can help you, take a look at our <a href="https://example.com/ethereum staking" target="_blank" class="green-link"> How Our Platform Works</a> page.</h3>
          </p>
        </div>
      </div>
    </section>

    <hr class="section-divider"> 

    <section class="Invest-feature">
      <div class="feature__content container container--pall">
        <div class="feature__contents_header">
          <h2>Who should raise capital with Crop Investment</h2>
        </div>
    
        <div class="feature__mitros">
            <ul>
              <li>Experienced farmers, growers, ranchers, and landowners interested in expanding their operations or acquiring new land.</li>
              <li>Young farmers who have trouble getting traditional ag credit and want to get their own piece of land or buy out siblings on a multi-generational farm.</li>
              <li>Livestock ranchers who want flexible financing to grow their herds.</li>
              <li>Established agribusinesses that need outside capital to expand their operations or develop value-added processing facilities.</li>
              <li>Controlled Environment Agriculture developers.</li>
              <li>Early stage Agtech companies raising a seed round (our average check size is $500,000).</li>
            </ul>
        </div>
      </div>
    </section>

    <hr class="section-divider">

    <section class="Invest-feature">
      <div class="feature__content container container--pall">
        <div class="feature__contents_header">
          <h2>Why raise capital with us?</h2>
        </div>
    
        <div class="feature__mitros">
          <ul>
            <li>Cost of capital is competitive with placement agents or other funding platforms.</li>
            <li>We offer creative funding solutions involving debt or equity.</li>
            <li>Accept capital from multiple investors from one entity on your Cap Table.</li>
            <li>We handle investor relations - You focus on your business, and we maintain communications with all of the investors.</li>
            <li>Encourage the average consumer to care about agriculture.</li>
          </ul>
        </div>
      </div>
    </section>
    <hr class="section-divider">

    <section class="capital">
      <div class="capital_content container container--pall">
        <div class="capital_header">
          <h2>Capital raise process</h2>
        </div>
        
        <div class="capital_body">
          <div class="capital_text">
            <p>
              <h2>1 Application </h2> 
            </p>
            <p>
              <a href="https://example.com/ethereum staking" target="_blank" class="green-link">Apply for Funding</a>.
            </p>
          </div>
          <div class="capital_icon">
            <img src="/static/images/capital icon.jpg" alt = "Description of the image">
          </div>
          <div class="capital_text">
            <p>
              <h2>2 Due Diligence</h2>
            </p>
            <p>
              If your project meets our requirements, we will request additional documents to learn more about your project. A clear and transparent business plan coupled with organized and complete financial projections are the best starting point.  
            </p>
          </div>
        </div>
      </div>    
    </section>


    <section class="capital">
      <div class="capital_body">
        <div class="capital_text">
          <p>
            <h2>3 Listing Agreement</h2>
          </p>
          <p>
            The agreement lays out the terms of the crowdfunding raise and what you can expect from the process as far as time, effort, and costs to you.  
          </p>
          </div>

        <div class="capital_icon">
          <img src="/static/images/capital icon.jpg" alt = "Description of the image">
        </div>
        <div class="capital_text">
          <p>
            <h2>4 Live on Platform</h2>
          </p>
          <p>
            After the project is set up and ready for investors, it goes live on the platform to accept investments from qualified investors. Harvest Returns will work to help you maximize the chances of a successful raise and maintain compliance with U.S. Securities regulations.    
          </p>
        </div>
      </div>    
    </section>

    <section class="capital">
      <div class="capital_content container container--pall">
        <div class="capital_header">
          <h2>5 Close Raise & Receive Funds</h2>
        </div>

        <div class="capital_body">
          <div class="capital_text">
            <p>
              You will receive the funds after the raise has successfully closed. You will work with Harvest Returns over the course of the operation to keep investors updated, provide financial statements and tax documents, and make investor distributions.  
            </p>
          </div>
        </div>
      </div>
    </section>

    <hr class="section-divider">

    <section class="texts">
      <div class="texts1">
        <p><h3>Interested in learning more about the capital raise process? Have questions?</h3></p>
        <p> <h3> send an email to: <a href="https://example.com/ethereum staking" target="_blank" class="green-link">cropinvestment@gmail.com"</a></h3>
      </div>
    </section>

    <hr class="section-divider">

    <section class="farmer_Subject">
      <div class="farmer_container">
        <div class="farmer_Subject_text container--pall">
          <h2>
            “Harvest Returns has an extensive vetting process This process challenges the entrepreneur and helps us to recognize risks and make appropriate adjustments to the financial projections, which is in the best interest of Harvest Returns, the investors, and the entrepreneur. 
            Harvest Returns has a large pool of investors with capital ready to be deployed for high-quality business opportunities. Sage Green’s deal had a compressed timeline to raise funds. Harvest Returns met the deadline and solicited investors quickly.”
          </h2>
          <p><h2>— Eric Hayes, CEO of Rocky Mountain Reclamation - raised $815,000</h2></p>
        </div>
      </div>
    </section>

    <hr class="section-divider">

    <section class="farmer_Subject">
      <div class="farmer_container">
        <div class="farmer_Subject_text container--pall">
          <h2>
            “ We are very pleased with the results of our partnership with Harvest Returns as it provided access to a base of investors outside Blackdirt’s existing network and proved to be an effective platform for raising capital. We look forward to working with the Harvest Returns team again in the future.”
          </h2>
          <p><h2> — David Nicola, CEO of Blackdirt Farms - raised $1,555,000</h2></p>
        </div>
      </div>
    </section>
    <hr class="section-divider">

    <section class="farmer_Subject">
      <div class="farmer_container">
        <div class="farmer_Subject_text container--pall">
          <h2>
            “The entire process with the team at Harvest Returns was exceptional. From our initial consultations, to structuring, to the raise itself and finally with a successful close, we always felt we were well taken care of and that the team had our best interests in mind. As a former financier myself, I understand the amount of pressure the team was under, especially given the current economic climate. 
            In this challenging and unprecedented times, we are grateful that there are companies like HR out there who are looking out for regenerative farmers and their financing needs!”
          </h2>
          <p><h2> — James Morin, owner of Kipling Ridge Farms - raised $230,000</h2></p>
        </div>
      </div>
    </section>

    <hr class="section-divider">

    <section class="capital">
      <div class="capital_content container container--pall">
        <div class="capital_header">
          <h2>Some of our portfolio companies:</h2>
        </div>
      </div>        
    </section>

    <section class="huge_Image">
      <div class="container">
          <!-- Add your image here -->
          <img src="/static/images/huge.png" alt="Description of the image" class="huge_image">
      </div>
   </section>

    <footer class="footer">
      <div class="container">
        <a class="footer__logo" href="#">
          <img src="/static/images/logo-dark.svg" />
        </a>

        <div class="footer__social">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
              <title>Facebook</title>
              <path
                fill="#FFF"
                d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20">
              <title>YouTube</title>
              <path
                fill="#FFF"
                d="M10.333 0c-5.522 0-10 4.478-10 10 0 5.523 4.478 10 10 10 5.523 0 10-4.477 10-10 0-5.522-4.477-10-10-10zm3.701 14.077c-1.752.12-5.653.12-7.402 0C4.735 13.947 4.514 13.018 4.5 10c.014-3.024.237-3.947 2.132-4.077 1.749-.12 5.651-.12 7.402 0 1.898.13 2.118 1.059 2.133 4.077-.015 3.024-.238 3.947-2.133 4.077zM8.667 8.048l4.097 1.949-4.097 1.955V8.048z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="18">
              <title>Twitter</title>
              <path
                fill="#FFF"
                d="M20.667 2.797a8.192 8.192 0 01-2.357.646 4.11 4.11 0 001.804-2.27 8.22 8.22 0 01-2.606.996A4.096 4.096 0 0014.513.873c-2.649 0-4.595 2.472-3.997 5.038a11.648 11.648 0 01-8.457-4.287 4.109 4.109 0 001.27 5.478A4.086 4.086 0 011.47 6.59c-.045 1.901 1.317 3.68 3.29 4.075a4.113 4.113 0 01-1.853.07 4.106 4.106 0 003.834 2.85 8.25 8.25 0 01-6.075 1.7 11.616 11.616 0 006.29 1.843c7.618 0 11.922-6.434 11.662-12.205a8.354 8.354 0 002.048-2.124z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
              <title>Pinterest</title>
              <path
                fill="#FFF"
                d="M10 0C4.478 0 0 4.477 0 10c0 4.237 2.636 7.855 6.356 9.312-.088-.791-.167-2.005.035-2.868.182-.78 1.172-4.97 1.172-4.97s-.299-.6-.299-1.486c0-1.39.806-2.428 1.81-2.428.852 0 1.264.64 1.264 1.408 0 .858-.545 2.14-.828 3.33-.236.995.5 1.807 1.48 1.807 1.778 0 3.144-1.874 3.144-4.58 0-2.393-1.72-4.068-4.177-4.068-2.845 0-4.515 2.135-4.515 4.34 0 .859.331 1.781.745 2.281a.3.3 0 01.069.288l-.278 1.133c-.044.183-.145.223-.335.134-1.249-.581-2.03-2.407-2.03-3.874 0-3.154 2.292-6.052 6.608-6.052 3.469 0 6.165 2.473 6.165 5.776 0 3.447-2.173 6.22-5.19 6.22-1.013 0-1.965-.525-2.291-1.148l-.623 2.378c-.226.869-.835 1.958-1.244 2.621.937.29 1.931.446 2.962.446 5.522 0 10-4.477 10-10S15.522 0 10 0z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20">
              <title>Instagram</title>
              <path
                fill="#FFF"
                d="M10.333 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.976 1.409 4.1 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.058 4.042-.124 2.687-1.386 3.975-4.099 4.099-1.055.048-1.37.058-4.042.058-2.67 0-2.986-.01-4.04-.058-2.717-.124-3.976-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zm0-1.802C7.618 0 7.278.012 6.211.06 2.579.227.56 2.242.394 5.877.345 6.944.334 7.284.334 10s.011 3.057.06 4.123c.166 3.632 2.181 5.65 5.816 5.817 1.068.048 1.408.06 4.123.06 2.716 0 3.057-.012 4.124-.06 3.628-.167 5.651-2.182 5.816-5.817.049-1.066.06-1.407.06-4.123s-.011-3.056-.06-4.122C20.11 2.249 18.093.228 14.458.06 13.39.01 13.049 0 10.333 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.339-9.87a1.2 1.2 0 10-.001 2.4 1.2 1.2 0 000-2.4z"
              />
            </svg>
          </a>
        </div>

        <div class="footer__links col1">
          <a href="http://127.0.0.1/team" >About Us</a>
          <a href="http://127.0.0.1/contact" >Contact</a>
          <a href="http://127.0.0.1/blog" >Blog</a>
        </div>

        <div class="footer__links col2">
          <a href="http://127.0.0.1/porfiolio" >portfolio</a>
          
          <a href="http://127.0.0.1/Privacy" >Privacy Policy</a>
        </div>

        <div class="footer__cta">
          <a href="http://127.0.0.1/signup"  class="button">Request Invite</a>
        </div>

        <div class="footer__copyright">
          &copy; Cropinvestment. All Rights Reserved.
        </div>
      </div>
      
    </footer>

    <script src="/app/js/script.js"></script>
  </body>
</html>