<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/jpg"
      sizes="32x32"
      href="./images/favicon-32x32.jpg"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />

    <title>Agricharvest and Ethereum Staking</title>
  </head>
  <body>
    <header class="header">
      <div class="overlay has-fade"></div>

      <nav class="container container--pall flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
          <img src="/static/images/crop.png" alt="Agricharvest Return and Etherium staking" />
        </a>

        <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <div class="header__links hide-for-mobile">
          <a href="http://127.0.0.1">Home</a><a href="http://127.0.0.1/signup">Invest Now</a><a href="http://127.0.0.1/blog">Blog</a><a href="http://127.0.0.1/farmers">For Farmers</a><a href="http://127.0.0.1/FAQ">FAQs</a>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle">About Us</a>
            <div class="dropdown-content">
                <a href="http://127.0.0.1/team">Our Team</a>
                <a href="http://127.0.0.1/Privacy">Privacy Policy</a>
                <a href="http://127.0.0.1/porfiolio">Porfiolio</a>
            </div>
        </div>
          <a href="http://127.0.0.1/contact">Contact</a>
        </div>

        <a href="http://127.0.0.1/signin" class="button header__cta hide-for-mobile">Sign-in</a>
        <a href="http://127.0.0.1/signup" class="button header__cta hide-for-mobile">Sign-up</a>
      </nav>

      <div class="header__menu has-fade">
        <a href="http://127.0.0.1/">Home</a>
        <a href="http://127.0.0.1/signup">Invest Now</a>
        <a href="http://127.0.0.1/farmers">For Farmers</a>
        <a href="http://127.0.0.1/blog">Blog</a>
        <a href="http://127.0.0.1/FAQ">FAQs</a>
        <a href="#">About Us</a>
        <a href="http://127.0.0.1/contact">Contact</a>
    </div>
    </header>
    <hr class="section-divider">

    <section class="hero">
      <div class="container">
        <div class="hero__text container--pall">
          <h1>Grow your Wealth with passive investments in farming and ethereum staking!!!</h1>
        </div>
        <div class="grow-button">
          <a href="http://127.0.0.1/signup" class="grow-box-button" target="_blank">Sign up to View Investment</a>
        </div>
      </div>
    </section>

    <section class="feature">
      <div class="feature__content container container--pall">
        <div class="feature__intro">
          <h2>Why invest in agriculture?</h2>
        </div>
    
        <div class="feature__body">
          <div class="feature__text">
            <p>
              With each passing year, the world must feed more people with less arable land. Global demographics will continue those trends as the earth's population grows to ten billion people in the next few decades. In a time of financial uncertainty, there is no better asset to own than income-producing farm, timber, or ranch land. These investments provide tangible yields derived from naturally produced products and have beaten the returns from other asset classes for years.
              Farmers and small businesses are the backbone of the U.S. economy. Your investments with Crop Investment can make both of them stronger.
              Crop investment provides access to investments with little to no correlation to the overall stock market that produce solid returns compared to other asset classes. The platform allows qualified investors to choose from a variety of carefully screened and selected private agriculture investments. Many of these investments feature sustainable or organic production methods.
              Institutional investors and the ultra-wealthy have long understood the value of private investments in natural resources. Now you too can access these deals with as little as $5,000. And yes, you can invest using money in your IRA to get tax-free or tax-deferred gains.
            </p>
          </div>
        </div>
      </div>
    </section>

    <hr class="section-divider">

  <section class="Big_Image">
      <div class="container">
          <!-- Add your image here -->
          <img src="/static/images/graph.png" alt="Description of the image" class="Big_Image">
      </div>
   </section>
    
   <hr class="section-divider">

   <section class="farmer_Subject">
    <div class="farmer_container">
      <div class="farmer_Subject_text container--pall">
        <h3>
          “ANOTHER WELL-POSITIONED HEDGE NOW IS AGRICULTURE. FACT IS, THE FINANCIAL PRESS TENDS TO IGNORE AGRICULTURE. AFTER ALL, IT’S NOT AS SEXY AS THE HIGH-TECH “STORY STOCKS” THAT THE CARNIVAL BARKERS ON CNBC LIKE TO PRATTLE ON ABOUT. BUT AGRICULTURE HAS THE PROPERTIES OF A LATE-CYCLE INVESTMENT BECAUSE OF THE SECTOR’S PROJECTED ROBUST AND STABLE GROWTH FOR DECADES TO COME. AND IN RECENT DAYS, THOSE GLAMOROUS STORY STOCKS HAVE GOTTEN SLAUGHTERED.”
        </h3>
        <p><h4> — JOHN PERSINOS - INVESTING DAILY</h4></p>
      </div>
    </div>
  </section>

   
    <hr class="section-divider">

    <section class="feature">
      <div class="feature__content container container--pall">
        <div class="feature__intro">
          <h2>Understanding the Concept of Ethereum Staking</h2>
        </div>
    
        <div class="feature__body">
          <div class="feature__text">
            <p>
              When you stake Ethereum, you effectively ‘lend’ your coins to the network to help validate transactions and maintain its security by running a validator. Ethereum is a Proof of Stake (PoS) network, meaning it is secured by staked assets, not miners solving intricate puzzles.  In return, validators earn rewards based on the amount of Ethereum deposited and the length of time it has been staked. The longer you stake, the higher the potential rewards, and the more secure the network becomes.

              Staking is a relatively new concept in the world of cryptocurrency, but it has quickly gained popularity due to its potential for high returns and lower risks.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="feature">
      <div class="feature__content container container--pall">
        <div class="feature__intro">
          <h2>Why invest in ethereum staking?</h2>
        </div>
    
        <div class="feature__body">
          <div class="feature__text">
            <p>
              Ethereum staking offers competitive rewards, ensuring attractive returns on your investment. By staking Ethereum, you benefit from robust security measures that protect your assets, providing peace of mind.
              Our user-friendly platform makes staking accessible even for beginners, allowing you to grow your wealth effortlessly. Expert management ensures that your staking process is optimized for maximum earnings. By participating, you also support the growth and innovation of the Ethereum network, contributing to a decentralized and resilient financial ecosystem.
              Ethereum staking in crop investment offers a unique opportunity to secure high returns, benefit from advanced security, and support technological advancement, making it a compelling choice for forward-thinking investors.
            </p>
          </div>
        </div>
      </div>
    </section>

    <hr class="section-divider">

    <section class="image_financing">
      <div class="image__financing container container--pall">
        <div class="image__body1">
          <div class="image_item">
            <img src="/static/images/person.png" alt="Description of the image">
            <div class="feature__text">
              <h2>59 FARMS & RANCHES FUNDED</h2>
            </div>
          </div>
          <div class="image_item">
            <img src="/static/images/raised.png" alt="Description of the image">
            <div class="feature__text">
              <h2>$36M RAISED</h2>
          </div>
          <div class="image_item">
            <img src="static/images/hand.png" alt="Description of the image">
            <div class="feature__text">
              <h2>$14M DISTRIBUTED TO INVESTORS</h2>
            </div>
          </div>
          <div class="image_item">
            <img src="/static/images/ethicon.png" alt="Description of the image">
            <div class="feature__text">
              <h2>$52M RAISED FROM ETHEREUM STAKING</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="grow">
      <div class="grow-button">
        <a href="http://127.0.0.1/signup"  class="grow-box-button" target="blank">Sign up to Veiw Investment</a>
      </div>
    </section>

    <hr class="section-divider"> 

    <section class="Invest-feature">
      <div class="feature__content container container--pall">
        <div class="feature__contents_header">
          <h2>What Investors Have to Say About Investing with Crop Investment</h2>
        </div>
    
        <div class="feature__mitros">
          <li>
            “I have made 3 investments with Crop Investment. The transparency of Crop Investment is both comforting and impressive. I am certain to take advantage of future Crop investment offerings.”— Doug L., Vermont</h2>
          </li>
          <p></p>
          <li>“Agricultural crowdfunding has allowed us to diversify our investment portfolio and benefit from passive income. Crop investment provides us with the opportunity to invest in high-quality ventures that not only offer sustainable returns but also allow us to support farming communities.” </h2>
          — Robin, Leander, TX</li>
          <p></p>
          <li>
            “The Crop investment team has the expertise and integrity that gives me confidence as an investor. Their offerings are an integral part of my portfolio’s defensive strategy in a time of great uncertainty.” — Mark C., Austin, TX</h2>
          </li>
        </div>
      </div>
    </section>

    <hr class="section-divider">
    
    <section class="ethereum">
      <div class="ethereum_content container container--pall">
        <div class="ethereum_header">
          <h2>ethereum staking</h2>
        </div>
        
        <div class="ethereum_body">
          <div class="ethereum_text">
            <p>
              Investing in Ethereum staking offers a unique opportunity to earn passive income 
              while supporting the network's security and decentralization. As Ethereum transitions 
              to a proof-of-stake model, staking allows you to earn rewards simply by holding and validating ETH. 
              This method is more energy-efficient and accessible compared to traditional mining.
              With staking pools and user-friendly platforms, it’s easier than ever to participate. 
              By staking, you not only benefit financially but also contribute to the growth and innovation within the Ethereum ecosystem.
              Take a look at the <a href="http://127.0.0.1/signup" target="_blank" class="ethereum_green-link">Grow Your Wealth With ethereum staking</a> page for more information.
            </p>
          </div>
          <div class="ethereum_image">
            <img src="/static/images/ethereum.jpeg" alt = "Description of the image">
          </div>
        </div>
      </div>  
    </section>   
    
    <section class="ethereum_button">
      <div class="eth-button">
        <a href="http://127.0.0.1/signup"  class="eth-box-button" target="blank">Grow Your Wealth With ethereum staking</a>
      </div>
    </section>

    <hr class="section-divider">

    <section>
        <div class="feature__grid_title">
          <h2> why invest in ethereum staking</h2>
        </div>
    </section>

    <section>
      <div class="feature__grid">
        <div class="feature__item">
          <div class="feature__icon">
            <img src="/static/images/high.jpeg" alt="High Returns" />
          </div>
          <div class="feature__title">High Returns:</div>
          <div class="feature__description">
            Our staking platform offers competitive rewards, providing attractive returns on your Ethereum holdings.
          </div>
        </div>
        
        <div class="feature__item">
          <div class="feature__icon">
            <img src="/static/images/seecurity.jpeg" alt="Security" />
          </div>
          <div class="feature__title">Security:</div>
          <div class="feature__description">
            We employ robust security measures to protect your investment, ensuring peace of mind.
          </div>
        </div>
        
        <div class="feature__item">
          <div class="feature__icon">
            <img src="/static/images/user.jpeg" alt="User-Friendly" />
          </div>
          <div class="feature__title">User-Friendly:</div>
          <div class="feature__description">
            Our platform is easy to use, making staking accessible even for beginners.
          </div>
        </div>
        
        <div class="feature__item">
          <div class="feature__icon">
            <img src="/static/images/expert.jpeg" alt="Expert Management" />
          </div>
          <div class="feature__title">Expert Management:</div>
          <div class="feature__description">
            Our team of experts manages the staking process, optimizing your earnings and reducing your effort.
          </div>
        </div>
        
        <div class="feature__item">
          <div class="feature__icon">
            <img src="/static/images/community.jpeg" alt="Community Support" />
          </div>
          <div class="feature__title">Community Support:</div>
          <div class="feature__description">
            By staking with us, you support the growth and innovation of the Ethereum network.
          </div>
        </div>
      </div>
    </section>
    <hr class="section-divider">

    <section class="capital">
      <div class="capital_content container container--pall">
        <div class="capital_header">
          <h3>Featured on:</h3>
        </div>
      </div>        
    </section>

    <section class="huge_Image">
      <div class="container">
          <!-- Add your image here -->
          <img src="/static/images/banner.png" alt="Description of the image" class="huge_image">
      </div>
   </section>

   <hr class="section-divider">

    <section class="capital">
      <div class="capital_content container container--pall">
        <div class="capital_header">
          <h2>Some of our portfolio companies:</h2>
        </div>
      </div>        
    </section>

    <section class="huge_Image">
      <div class="container">
          <!-- Add your image here -->
          <img src="/static/images/huge.png" alt="Description of the image" class="huge_image">
      </div>
   </section>
   <hr class="section-divider">
    

    <footer class="footer">
      <div class="container">
        <a class="footer__logo" href="#">
          <img src="/static/images/logo-dark.svg" />
        </a>

        <div class="footer__social">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
              <title>Facebook</title>
              <path
                fill="#FFF"
                d="M18.896 0H1.104C.494 0 0 .494 0 1.104v17.793C0 19.506.494 20 1.104 20h9.58v-7.745H8.076V9.237h2.606V7.01c0-2.583 1.578-3.99 3.883-3.99 1.104 0 2.052.082 2.329.119v2.7h-1.598c-1.254 0-1.496.597-1.496 1.47v1.928h2.989l-.39 3.018h-2.6V20h5.098c.608 0 1.102-.494 1.102-1.104V1.104C20 .494 19.506 0 18.896 0z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20">
              <title>YouTube</title>
              <path
                fill="#FFF"
                d="M10.333 0c-5.522 0-10 4.478-10 10 0 5.523 4.478 10 10 10 5.523 0 10-4.477 10-10 0-5.522-4.477-10-10-10zm3.701 14.077c-1.752.12-5.653.12-7.402 0C4.735 13.947 4.514 13.018 4.5 10c.014-3.024.237-3.947 2.132-4.077 1.749-.12 5.651-.12 7.402 0 1.898.13 2.118 1.059 2.133 4.077-.015 3.024-.238 3.947-2.133 4.077zM8.667 8.048l4.097 1.949-4.097 1.955V8.048z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="18">
              <title>Twitter</title>
              <path
                fill="#FFF"
                d="M20.667 2.797a8.192 8.192 0 01-2.357.646 4.11 4.11 0 001.804-2.27 8.22 8.22 0 01-2.606.996A4.096 4.096 0 0014.513.873c-2.649 0-4.595 2.472-3.997 5.038a11.648 11.648 0 01-8.457-4.287 4.109 4.109 0 001.27 5.478A4.086 4.086 0 011.47 6.59c-.045 1.901 1.317 3.68 3.29 4.075a4.113 4.113 0 01-1.853.07 4.106 4.106 0 003.834 2.85 8.25 8.25 0 01-6.075 1.7 11.616 11.616 0 006.29 1.843c7.618 0 11.922-6.434 11.662-12.205a8.354 8.354 0 002.048-2.124z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
              <title>Pinterest</title>
              <path
                fill="#FFF"
                d="M10 0C4.478 0 0 4.477 0 10c0 4.237 2.636 7.855 6.356 9.312-.088-.791-.167-2.005.035-2.868.182-.78 1.172-4.97 1.172-4.97s-.299-.6-.299-1.486c0-1.39.806-2.428 1.81-2.428.852 0 1.264.64 1.264 1.408 0 .858-.545 2.14-.828 3.33-.236.995.5 1.807 1.48 1.807 1.778 0 3.144-1.874 3.144-4.58 0-2.393-1.72-4.068-4.177-4.068-2.845 0-4.515 2.135-4.515 4.34 0 .859.331 1.781.745 2.281a.3.3 0 01.069.288l-.278 1.133c-.044.183-.145.223-.335.134-1.249-.581-2.03-2.407-2.03-3.874 0-3.154 2.292-6.052 6.608-6.052 3.469 0 6.165 2.473 6.165 5.776 0 3.447-2.173 6.22-5.19 6.22-1.013 0-1.965-.525-2.291-1.148l-.623 2.378c-.226.869-.835 1.958-1.244 2.621.937.29 1.931.446 2.962.446 5.522 0 10-4.477 10-10S15.522 0 10 0z"
              />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20">
              <title>Instagram</title>
              <path
                fill="#FFF"
                d="M10.333 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.976 1.409 4.1 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.058 4.042-.124 2.687-1.386 3.975-4.099 4.099-1.055.048-1.37.058-4.042.058-2.67 0-2.986-.01-4.04-.058-2.717-.124-3.976-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zm0-1.802C7.618 0 7.278.012 6.211.06 2.579.227.56 2.242.394 5.877.345 6.944.334 7.284.334 10s.011 3.057.06 4.123c.166 3.632 2.181 5.65 5.816 5.817 1.068.048 1.408.06 4.123.06 2.716 0 3.057-.012 4.124-.06 3.628-.167 5.651-2.182 5.816-5.817.049-1.066.06-1.407.06-4.123s-.011-3.056-.06-4.122C20.11 2.249 18.093.228 14.458.06 13.39.01 13.049 0 10.333 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.339-9.87a1.2 1.2 0 10-.001 2.4 1.2 1.2 0 000-2.4z"
              />
            </svg>
          </a>
        </div>

        <div class="footer__links col1">
          <a href="http://127.0.0.1/team" >About Us</a>
          <a href="http://127.0.0.1/contact" >Contact</a>
          <a href="http://127.0.0.1/blog" >Blog</a>
        </div>

        <div class="footer__links col2">
          <a href="http://127.0.0.1/porfiolio" >portfolio</a>
          <a href="http://127.0.0.1/Privacy" >Privacy Policy</a>
        </div>

        <div class="footer__cta">
          <a href="http://127.0.0.1/signup"  class="button">Request Invite</a>
        </div>

        <div class="footer__copyright">
          &copy; .Cropinvestment All Rights Reserved.
        </div>
      </div>
    </footer>

    <script src="/app/js/script.js"></script>
  </body>
</html>